
.city-page{
    background-color: #f4f1f1;
}

.city-banner{
    background: url("/img/city-page/city-banner.jpg") center no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-banner .city-txt{
    color: #fff;
}

.citytxt{
  text-transform: capitalize;
}

/* ==========================================================================
   Internship Section
   ========================================================================== */
.internship-display{
    margin-top: -8em;
}

.internship-card{
    background-color: #fff;
    padding: 1em;
    margin: 1em 0;
}

.internship-card .spacing-block{
    padding: 1.2em 0;
    display: flex;
    justify-content: space-between;
}


.internship-card .internship-logo-container img{
    width: 100px;
}

.internship-title{
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 600;
}

.internship-card span{
    font-size: .9em;
    /*color: #777777;*/
}

.internship-card .internship-points{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    font-size: .8em;
}

.internship-card p{
    font-size: .9em;
    color: #777777;
}

.apply-btn{
    display: inline-block;
    padding: .7em 1.3em;
    background: var(--gray-color);
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: .8em;
    text-decoration: none;
}

.apply-btn:hover{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .internship-card{
        position: relative;
    }

    .internship-card .col-md-auto{
        margin: 1em 0;
    }

    .internship-card .internship-points,
    .internship-card p {
        font-size: 1em;
    }

    .internship-card > .row {
        padding: .7em 0;
    }

    .internship-logo-container{
        margin: 1em 0;
    }

    .internship-share{
        position: absolute;
        top: 0;
        right: 25px;
    }

    .internship-share svg{
        width: 30px;
    }
}

@media screen and (max-width: 769px) {
    .internship-display .col-md-6{
        max-width: 100%;
        flex: 100%;
    }

}

@media screen and (max-width: 600px) {
    .internship-share{
        position: absolute;
        top: -70px;
        right: 25px;
    }
}
